html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}


body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #F2F2F2;
  font-family: 'Barlow', sans-serif;
  font-family: 'Fraunces', serif;
}

.container{
  width: 100%;
  max-width: 1392px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}


.full-section{
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  left: 0;
  right: 0;
  padding-top: 32px;
  padding-bottom: 296px;
}


/* HEADER */


.header-section{
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 88px;
}

.header-section__button{
  width: 24px;
  height: 18px;
  background-image: url(../img/hamburger.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent
}

.header-section--open .header-section__button{
  opacity: 0.5;
}

.header-section__nav{
  display: none;
  position: absolute;
  top: 100%;
  text-align: center;
  left: -24px;
  right: -24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 45px;
}

.header-section--open .header-section__nav{
  display: block;
}


.nav-section__list{
  position: relative;
  z-index: 1;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 40px 95px 39px 95px;
  background: #FFFCF8;

}

.nav-section__list::before{
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: 30px solid white;
  border-left: 30px solid transparent;
  background-size: cover;
  left: 297px;
  top: -30px;
}

.nav-section__item{
  margin-bottom: 32px;
}

.nav-section__link{
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.142857px;
  color: #808397;
}

.btn-link{
  font-family: 'Fraunces', serif;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.107143px;
  text-transform: uppercase;
  color: #24303E;
  background: #FBD600;
  border-radius: 28px;
  padding: 15px 30px;
}


.creative-section__heading{
  position: relative;
  z-index: 1;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 6.25px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}


.creative-section__heading::before{
  position: absolute;
  content: "";
  width: 30px;
  height: 108px;
  background-image: url(../img/strelka.svg);
  background-repeat: no-repeat;
  background-size: contain;
  left: 175px;
  top: 159px;
}



/* FEATURES */

.features-one{
  /* position: relative; */
  /* z-index: 1; */
}

.features-one::before{
  display: block;
  content: "";
  width: 100%;
  height: 312px;
  background-image: url(../img/eage.png);
  background-repeat: no-repeat;
  background-size: cover;
  left: 0px;
  top: 0px;
}

.features-two{
  position: relative;
  z-index: 1;
}

.features-two::before{
  display: block;
  content: "";
  width: 100%;
  height: 312px;
  background-image: url(../img/idish.png);
  background-repeat: no-repeat;
  background-size: cover;
  left: 0px;
  top: 0px;
}


.features-content{
  padding: 41px 24px 64px 24px;
  text-align: center;
}

.features-content__heading{
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  letter-spacing: -0.228571px;
  color: #24303E;
  margin: 0;
  margin-bottom: 24px;
}

.features-content__text{
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #808397;
  margin: 0;
  margin-bottom: 24px;
}

.features-content__link{
  position: relative;
  z-index: 1;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24303E;
  text-decoration: none;
}

.features-content__link::after{
  position: absolute;
  content: "";
  width: 137px;
  height: 10px;
  background: #FAD400;
  mix-blend-mode: normal;
  opacity: 0.25;
  border-radius: 28px;
  left: -10px;
  top: 10px;
}

.one-link:hover::after{
  background: #FAD400;
}

.two-link:hover::after{
  background: #FE7766;
}



/* JOBS */


.jobs-one{
  background-image: url(../img/gilos.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.jobs-one__content{
  padding: 398px 24px 59px  24px;
}



.jobs-one__content-heading{
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #24554A;
}

.jobs-one__content-text{
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.114286px;
  color: #24554A;
}


.jobs-two{
  background-image: url(../img/olma.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.jobs-two__content{
  padding: 398px 24px 59px  24px;
}

.jobs-two__content-heading{
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #052C3B;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.jobs-two__content-text{
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.114286px;
  color: #19536C;
}




@media only screen and (min-width: 660px) {

  .full-section{
    background-image: url(../img/desktop-bg.png);
    background-repeat: no-repeat;
    background-size: 1000px;

  }


  .header-section__button{
    display: none;
  }

  .header-section__nav{
    display: block;
    position: relative;
    background-color: tr;
    padding: 0;
  }

  .nav-section__list::before{
    display: none;
  }

  .nav-section__list{
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }

  .nav-section__item{
    margin-bottom: 0;
  }

  .nav-section__item:not(:last-child){
    margin-right: 20px;
  }

  .nav-section__link{
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #FFFFFF;
  }

  .btn-link{
    color: #24303E;
    background: #FFFFFF;
    padding: 10px 20px;
  }

  .creative-section__heading::before{
    width: 30px;
    height: 110px;
    left: 315px;
    top: 74px;
  }





  /* FEATURES */

  .features-one{
    display: flex;
    flex-direction: row-reverse;
    /* width: 50%; */
  }

  .features-two{
    display: flex;
  }

  .features-one::before{
    width: 50%;
    left: 50%;

  }

  .features-content{
    flex-shrink: 0;
    padding-top: 50px;
    width: 50%;
    padding-bottom: 40px;
    text-align: left;
    margin-left: 0;
  }

  .features-content__heading{
    font-size: 28px;
    line-height: 32px;
    text-align: left;
    margin-bottom: 10px;
  }

  .features-content__text{
    font-size: 15px;
    line-height: 23px;
    text-align: left;
  }



  .features-two::before{
    width: 50%;
    left: 0%;
  }

  .btn-content{
    flex-shrink: 0;
    margin-left: auto;
    margin-right: 0;
  }



  /* JOBS */


  .jobs{
    display: flex;
  }

  .jobs-one__content{
    padding: 200px 24px 40px 24px;
  }

  .jobs-one__content-heading{
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 10px;
  }

  .jobs-one__content-text{
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }


  .jobs-two__content{
    padding: 200px 24px 40px 24px;
  }

  .jobs-two__content-heading{
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 10px;
  }

  .jobs-two__content-text{
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }







}

@media only screen and (min-width: 768px) {

  .creative-section__heading::before{
    width: 30px;
    height: 110px;
    left: 370px;
    top: 66px;
  }


  /* FEATURES */


}

@media only screen and (min-width: 1100px) {


  .full-section{
    background-image: url(../img/desktop-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 700px;
  }

  .header-section{
    margin-bottom: 105px;
  }

  .header-section__img{
    width: 177px;
    height: 33px;
  }


  .nav-section__link{
    font-size: 18px;
  }

  .btn-link{
    font-size: 15px;
  }

  .creative-section__heading{
    font-size: 56px;
    line-height: 69px;
  }

  .creative-section__heading::before{
    left: 540px;
    top: 284px;
  }




  /* FEATURES */





  /* JOBS */


  .jobs-one{
    background-image: url(../img/desktop-gilos.png);
  }

  .jobs-one__content{
    padding: 280px 120px 40px 120px;
  }

  .jobs-two{
    background-image: url(../img/desktop-olma.png);
  }

  .jobs-two__content{
    padding: 280px 120px 40px 120px;
  }
}

@media only screen and (min-width: 1316px) {

  .creative-section__heading::before{
    left: 642px;
    top: 284px;
  }

  /* FEATURES */



}


@media only screen  and (min-width: 1440px){

  .creative-section__heading::before{
    left: 700px;
    top: 284px;
  }


  /* FEATURES */

}






